* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.scoreSection {
    height: 50px;
    margin-top: 20px;
    padding: 0 10%;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.unit {
    font-size: 15px
}

.flip-boards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: calc(100vh - 70px);    
}
.flip-boards .board
{
    position: relative;
    width: 22.5%;
    min-width: 60px;
    height: 18%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all .3s ease;
}
.flip-boards .board div
{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
}

.card {
    border: solid white 4px;
    border-radius: 5px;
    box-shadow: #666 1px 1px 4px;
}

.flip-boards .board .front
{
    font-size: calc((100vh - 70px) / 20);
    line-height: calc((100vh - 70px) * 0.9 / 5 );
    color: #333;
}
.flip-boards .board .flipped
{
    background: url(img/image.jpg);
    background-size: cover;
    background-position: center;
}
.flip-boards .board h2{
    margin-top:80px;
    font-size: 1em;
}
.flip-boards .board.left.active
{
    transform: rotateY( 180deg );
}
.flip-boards .board.left .front
{
    transform: rotateY( 180deg );
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.8);
}

.overlayContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30% 0;
}

.startBtn {
    color: white;
    padding: 10px 20px;
    background: limegreen;
    border-radius: 4px;
    box-shadow: 0 4px green;
    cursor: pointer;
}

.startBtn:hover {
    background: lime;
}

.startBtn:active {
    position: relative;
    top: 4px;
    box-shadow: none;
}

.result {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.title {
    font-size: 72px;
}

.restartBtn {
    color: white;
    padding: 10px 20px;
    background: orange;
    border-radius: 4px;
    box-shadow: 0 4px orangered;
    cursor: pointer;
}

.restartBtn:hover {
    background: rgb(250, 180, 49);
}

.restartBtn:active {
    position: relative;
    top: 4px;
    box-shadow: none;
}