* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameDisplay {
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.textView {
    background: rgba(0,0,0,.7);
    position: absolute;
    bottom: 0;
    margin: 10px;
    border: double 4px rgb(225, 248, 250);
    width: calc(100% - 20px);
    height: 200px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.selectWindow {
    width: 100%;
    height: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectButton {
    background: rgba(0,0,0,.6);
    border: solid 4px rgb(225, 248, 250);
    text-align: center;
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    margin: 10px;
    color: white;
    line-height: 40px;
    cursor: pointer;
}

.selectButton:hover {
    background: rgba(0,0,0,.8);
}